* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  line-height: 1;
  font-size: 100%;
}

/* Reset for common HTML5 elements */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

line {
  stroke: #ccc;
}

text {
  text-anchor: middle;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  fill: #666;
  font-size: 16px;
}

/* .side-panel {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 30%;
  z-index: 10000;
  background-color: rgb(255, 255, 255);
} */
